@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    
    background-color: #ccc;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
}

img {
    display: block;
    width: 100%;

}

.pad{
    padding: 1.5rem;
    
}
 
.graphic {
    margin:0;
    position: relative;
    padding: 0;
    
}

.graphic-caption {
    position: absolute;
    bottom: 10rem;
    background-color: rgba(0,0,0,0.6); 
    color: white;
    text-align: center;

}

.center-text {
    text-align: center;
    margin-left: 30%;
    
}

.inline{
    display:inline;
    float: left;
    position: relative;
    
}

.nav-1{
    margin-left: 2%;
    padding-bottom: 2rem;
    width: 20%;
    position: static;
    
}

.nav-2{
    margin-left: 10%;
    padding-bottom: 2rem;
    width: 20%;
    position: absolute;
    
}

.nav-3{
    margin-left: 25%;
    padding-bottom: 2rem;
    width: 20%;
    position: absolute;
    
}

.nav-4{
    margin-left: 40%;
    padding-bottom: 2rem;
    width: 20%;
    position: absolute;
    
}
