@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin: 0;
}

header{ 
    padding: 1em;
}

figure {
    margin:0;
    padding:0;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); 
    color: white;
    height: 100%;
    width: 100%;
}

main{
    padding: 1em;
}

main a{
     display:block;
    padding: .5em 1em;
    text-decoration: none;
    text-align: center;
}

.logo {
    width:100px;
    display:block;
    margin: 0 auto;
}

.title {
    font-size: 1.2rem;
    text-align: center;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav a {
    display:block;
    padding: .5em 1em;
    text-decoration: none;
    
}

.wrapper{
    max-width: 38em;
    margin:0 auto; /* pushes to center*/
}

@media only screen and (min-width: 25em) {
    
    img {
    width: 100%
}
    
    .nav {
        text-align: center;
    }
    
    .nav li{
        display:inline-block;    
    } 
}

@media only screen and (min-width: 38em) {
    
    html{
        font-size: 110%;
        line-height: 1.4;
    }
    
    img{
        width: 32em;
    }
    
    figure img{
        height: 20em;
        width: 100%
    }
    
     .logo{
        display:inline-block;
        margin: 0 1em;
        vertical-align: middle;
        padding-bottom: 1em;
    }
     .title{
        display:inline-block;
    }
    .nav {
        margin-top: 1em;
        font-size: 1.1rem;
        display:inline-block;
        vertical-align: middle;
        padding-bottom: 1em;
    }
    .nav li{
        display:inline-block;
        text-align: center;
    }
}


@media only screen and (min-width: 60em) {
    
    html{
        font-size: 120%;
        line-height: 1.5;
    }
    
    .logo{
        display:block;
        margin: 0 auto;
    }
    .title {
        display:block;
    }
    
    .nav {
        margin-top: 1em;
        font-size: 1.1rem;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html{
        font-size: 130%;
        line-height: 1.6;
    }
}

/*print always goes on bottom*/
@media print{

    nav{
        display: none;
    }
    
    main a::after {
        content: " ( " attr(href) " )";
        color: #999;
    }
}

